# Django
SECRET_KEY=your-secret-key-here
DEBUG=1

# MySQL
DB_NAME=mydb
DB_USER=myuser
DB_PASSWORD=your-db-password-here
DB_HOST=db
DB_PORT=3306

# Source API
URL = "https://aes.shenlu.me/api/v1/random"
MAX_URL = "https://aes.shenlu.me/api/v1/speciescount"